* {
    font-family: px sans nouveaux;
    /**overflow: hidden;**/
}

body {
    background-color: #008080;
}

footer {
    background-color: #c3c3c3;
    position: fixed;
    height: 5%;
    bottom: 0;
    width: 100%;
    left: 0px;
    right: 0px;
}

#bio {
    content: url(images/cd-file.png);
}

#resume {
    content: url(images/notepad_file.png);
}

#pic {
    content: url(images/pic_file.png);
}

#research-group {
    content: url(images/internet_explorer.png);
}

.image-text {
    color: white;
}

.container {
    background-color: #c3c3c3;
    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    margin-left: 30%;
    width: 60%;
}

#sar-pic {
    width: 50%;
    border: 20px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 .content {
    background-color: white;
    border-style: solid;
    border-color: black white white black;
    border-width: 2px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
 }

 .bold {
    font-weight: bold;
 }

 #resume-content {
    background-color: white;
 }

 #bio-content {
    background-color: white;
 }

 #start-menu {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    width: 5%;
    height: 75%;
 }

 #start {
    content: url(images/windows_start.png);
    position: absolute;
    top: 50%;
    bottom: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: 15px;
}

 #start-text {
    color: black;
    font-weight: bold;
    margin-left: 47px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }



